LL/resources/HemeLabel_weights.ckpt
LL/resources/YOLO_checkpoint.pt
LL/resources/H16-20230726.csv
LL/resources/H16-20230726-reexported.csv
LL/resources/PB_annotations_filtered.csv
.DS_Store
LL/.DS_Store
LL/resources/.DS_Store
LL/brain/.DS_Store
LL/vision/.DS_Store
LL/communication/.DS_Store
WhiteCellWizard.egg-info
build/bdist.macosx-10.9-x86_64
build/lib/LL
build/lib/LL/brain
build/lib/LL/communication
build/lib/LL/vision
build/lib/LL/resources
LeukoLocator/build/lib/
.vscode
LL/resources/PB_annotations_filtered.csv
LL/resources/H16-20230726.csv
LL/resources/H16-20230726-reexported.csv
LeukoLocator.egg-info/
build/
